
<div class="container-fluid">
  <!-- Jumbotron -->
  <div class="card card-image" style="background-image: url('assets/images/a.jpg');">
    <div class="text-white text-center rgba-stylish-strong py-5 px-4">
      <div class="py-5">

        <!-- Content -->
        <h5 class="h5 text-primary"><i class="fas fa-camera-retro"></i></h5>
        <h1 class="card-title h2 my-4 py-2">ANNIVERSAIRE</h1>
        <p class="mb-4 pb-2 px-md-5 mx-md-5"></p>
        <a class="btn-primary"><i class="fas fa-clone left"></i></a>

      </div>
    </div>
  </div>
  <!-- Jumbotron -->
</div>
