
<div class="container-fluid">
  <!-- Jumbotron -->
  <div class="card card-image" style="background-image: url('assets/images/t.jpg');">
    <div class="text-white text-center rgba-stylish-strong py-5 px-4">
      <div class="py-5">

        <!-- Content -->
        <h5 class="h5 text-primary"><i class="fas fa-camera-retro"></i> </h5>
        <h2 class="card-title h2 my-4 py-2">PROJET EN TÊTE?</h2>
        <a class="btn btn-primary"><i class="fas fa-clone left"></i> CONTACTEZ-NOUS</a>

      </div>
    </div>
  </div>
  <!-- Jumbotron -->
</div>

