<div class="container-fluid">
  <div class="card card-image" style="background-image: url('assets/images/f.jpg');">
    <div class="text-white text-center rgba-stylish-strong py-5 px-4">
      <div class="py-5">

        <!-- Content -->
        <h5 class="h5 text-primary"><i class="fas fa-camera-retro"></i> </h5>
        <h2 class="card-title h2 my-4 py-2">MENUS</h2>
        <p class="mb-4 pb-2 px-md-5 mx-md-5"></p>
      </div>
    </div>
  </div>
  <!-- Jumbotron -->
</div>

<div class="container-fluid">
  <section class="text-center my-5">
    <div class="row">

      <!-- Grid column -->
      <div class="col-lg-3 col-md-6 mb-lg-0 mb-4">
        <!-- Collection card -->
        <div class="card collection-card z-depth-1-half">
          <!-- Card image -->
          <div class="view zoom">
            <img src="assets/images/chaud1.jpg" class="img-fluid"
                 alt="">
            <div class="stripe dark">
              <a class="menu" [routerLink]="['/chaud']">
                <p>Buffet chaud
                  <i class="fas fa-angle-right"></i>
                </p>
              </a>
            </div>
          </div>
          <!-- Card image -->
        </div>
        <!-- Collection card -->
      </div>
      <!-- Grid column -->

      <!-- Grid column -->
      <div class="col-lg-3 col-md-6 mb-lg-0 mb-4">
        <!-- Collection card -->
        <div class="card collection-card z-depth-1-half">
          <!-- Card image -->
          <div class="view zoom">
            <img src="assets/images/dejeuner1.jpg"class="img-fluid"
                 alt="">
            <div class="stripe light">
              <a class="menu" [routerLink]="['/dejeuner']">
                <p>Petit déjeuner
                  <i class="fas fa-angle-right"></i>
                </p>
              </a>
            </div>
          </div>
          <!-- Card image -->
        </div>
        <!-- Collection card -->
      </div>
      <!-- Grid column -->

      <!-- Grid column -->
      <div class="col-lg-3 col-md-6 mb-md-0 mb-4">
        <!-- Collection card -->
        <div class="card collection-card z-depth-1-half">
          <!-- Card image -->
          <div class="view zoom">
            <img src="assets/images/froid1.jpg" class="img-fluid"
                 alt="">
            <div class="stripe dark">
              <a class="menu" [routerLink]="['/froid']">
                <p>Buffet froid
                  <i class="fas fa-angle-right"></i>
                </p>
              </a>
            </div>
          </div>
          <!-- Card image -->
        </div>
        <!-- Collection card -->
      </div>
      <!-- Grid column -->

      <!-- Fourth column -->
      <div class="col-lg-3 col-md-6">
        <!-- Collection card -->
        <div class="card collection-card z-depth-1-half">
          <!-- Card image -->
          <div class="view zoom">
            <img src="assets/images/oeuvre4.jpg" class="img-fluid"
                 alt="">
            <div class="stripe light">
              <a class="menu" [routerLink]="['/oeuvre']">
                <p>Hors d’œuvre
                  <i class="fas fa-angle-right"></i>
                </p>
              </a>
            </div>
          </div>
          <!-- Card image -->
        </div>
        <!-- Collection card -->
      </div>
      <!-- Fourth column -->
      <!-- Fourth column -->
    </div>
    <!-- Grid row -->
  </section>
</div>

<div class="container-fluid">
  <section class="text-center my-5">
    <div class="row">

      <!-- Grid column -->
      <div class="col-lg-3 col-md-6 mb-lg-0 mb-4">
        <!-- Collection card -->
        <div class="card collection-card z-depth-1-half">
          <!-- Card image -->
          <div class="view zoom">
            <img src="assets/images/pat1.jpg" class="img-fluid"
                 alt="">
            <div class="stripe dark">
              <a class="menu" [routerLink]="['/patisserie']">
                <p>Pâtisserie
                  <i class="fas fa-angle-right"></i>
                </p>
              </a>
            </div>
          </div>
          <!-- Card image -->
        </div>
        <!-- Collection card -->
      </div>
      <!-- Grid column -->

      <!-- Grid column -->
      <div class="col-lg-3 col-md-6 mb-lg-0 mb-4">
        <!-- Collection card -->
        <div class="card collection-card z-depth-1-half">
          <!-- Card image -->
          <div class="view zoom">
            <img src="assets/images/dejeuner2.jpg"class="img-fluid"
                 alt="">
            <div class="stripe light">
              <a class="menu" [routerLink]="['/dejeuner']">
                <p>Petit déjeuner
                  <i class="fas fa-angle-right"></i>
                </p>
              </a>
            </div>
          </div>
          <!-- Card image -->
        </div>
        <!-- Collection card -->
      </div>
      <!-- Grid column -->

      <!-- Grid column -->
      <div class="col-lg-3 col-md-6 mb-md-0 mb-4">
        <!-- Collection card -->
        <div class="card collection-card z-depth-1-half">
          <!-- Card image -->
          <div class="view zoom">
            <img src="assets/images/froid3.jpg" class="img-fluid"
                 alt="">
            <div class="stripe dark">
              <a class="menu" [routerLink]="['/chaud']">
                <p>Buffet froid
                  <i class="fas fa-angle-right"></i>
                </p>
              </a>
            </div>
          </div>
          <!-- Card image -->
        </div>
        <!-- Collection card -->
      </div>
      <!-- Grid column -->

      <!-- Fourth column -->
      <div class="col-lg-3 col-md-6">
        <!-- Collection card -->
        <div class="card collection-card z-depth-1-half">
          <!-- Card image -->
          <div class="view zoom">
            <img src="assets/images/oeuvre1.jpg" class="img-fluid"
                 alt="">
            <div class="stripe light">
              <a class="menu" [routerLink]="['/oeuvre']">
                <p>Hors d’œuvre
                  <i class="fas fa-angle-right"></i>
                </p>
              </a>
            </div>
          </div>
          <!-- Card image -->
        </div>
        <!-- Collection card -->
      </div>
      <!-- Fourth column -->
      <!-- Fourth column -->
    </div>
    <!-- Grid row -->



  </section>
</div>
<router-outlet></router-outlet>

