
<div class="container-fluid">
  <div class="wrap">
    <div class="logo">+243 99 90 77 775 </div>
    <ul class="wrap1">
      <li class="wrap2"><a class="menu" [routerLink]="['/accueil']">ACCUEIL</a></li>
      <li class="wrap2"><a class="menu" [routerLink]="['/menu']">MENUS </a></li>
      <li class="wrap2"><a class="menu" [routerLink]="['/evenement']">ÉVÉNEMENTS </a></li>
      <li class="wrap2"><a class="menu" [routerLink]="['/contact']">A PROPOS</a></li>
      <li class="wrap2"><a class="menu" [routerLink]="['/contact']">CONTACT</a></li>
    </ul>
  </div>
</div>
<router-outlet></router-outlet>
<div class="container-fluid">
  <mdb-card class="text-center">
    <mdb-card-body>
      <mdb-card-title>
      </mdb-card-title>
    </mdb-card-body>
  </mdb-card>
</div>
<div class="container-fluid"  >
  <section class="my-5">
    <div class="row">
      <div class="col-lg-7">
        <a href="#!" class="pink-text">
          <h6 class="font-weight-bold mb-3"><mdb-icon far icon="image" class="pr-2"></mdb-icon></h6>
        </a>
        <h3 class="font-weight-bold mb-3"><strong>UNE ENTREPRISE CRÉATIVE</strong></h3>
        <p>Au Catering, nous vous offrons des produits tout en finesse. C’est d’ailleurs en alliant créativité, saveurs uniques et qualité exceptionnelle que nous réussissons à satisfaire tous les appétits. Découvrez notre gamme de produits, elle convient à tout type d’événement : mariage, cocktail dînatoire, anniversaire, lancement corporatif ou repas d’affaires. Peu importe la taille de votre événement, qu’il compte 5 invités ou 5 000 convives, nous sommes sensibles au succès de votre réception. Notre expertise est à votre service et fera de votre événement un succès..</p>
      </div>
      <div class="col-lg-5">
        <div class="view overlay rounded z-depth-2 waves-light" mdbWavesEffect>
          <img class="img-fluid" src="assets/images/t.jpg" alt="Sample image">
          <a>
            <div class="mask rgba-white-slight"></div>
          </a>
        </div>
      </div>
    </div>
  </section>

</div>





