
<div class="container-fluid">
  <div class="wrap">
    <div class="logo">CONTACTEZ-NOUS : 243 </div>
    <ul class="wrap1">
      <li class="wrap2"><a class="menu" [routerLink]="['/accueil']">ACCUEIL</a></li>
      <li class="wrap2"><a class="menu" [routerLink]="['/menu']">MENUS </a></li>
      <li class="wrap2"><a class="menu" [routerLink]="['/evenement']">ÉVÉNEMENTS </a></li>
      <li class="wrap2"><a class="menu" [routerLink]="['/propos']">A PROPOS</a></li>
      <li class="wrap2"><a class="menu" [routerLink]="['/contact']">CONTACT</a></li>
    </ul>
  </div>
</div>
<router-outlet></router-outlet>
<div class="container-fluid"  >
  <section class="my-5">
    <div class="row">
      <div class="col-lg-7">
        <a href="#!" class="pink-text">
          <h6 class="font-weight-bold mb-3"><mdb-icon far icon="image" class="pr-2"></mdb-icon></h6>
        </a>
        <h3 class="font-weight-bold mb-3"><strong>UNE ENTREPRISE CRÉATIVE</strong></h3>
        <p>Au Catering, nous vous offrons des produits tout en finesse. C’est d’ailleurs en alliant créativité, saveurs uniques et qualité exceptionnelle que nous réussissons à satisfaire tous les appétits. Découvrez notre gamme de produits, elle convient à tout type d’événement : mariage, cocktail dînatoire, anniversaire, lancement corporatif ou repas d’affaires. Peu importe la taille de votre événement, qu’il compte 5 invités ou 5 000 convives, nous sommes sensibles au succès de votre réception. Notre expertise est à votre service et fera de votre événement un succès..</p>
      </div>
      <div class="col-lg-5">
        <div class="view overlay rounded z-depth-2 waves-light" mdbWavesEffect>
          <img class="img-fluid" src="assets/images/g.jpg"  alt="Sample image">
          <a>
            <div class="mask rgba-white-slight"></div>
          </a>
        </div>
      </div>
    </div>
  </section>

</div>
<div class="container-fluid">
  <footer class="page-footer font-small unique-color-dark">
    <div>
      <div class="container">
        <div class="row py-4 d-flex align-items-center">
        </div>
      </div>
    </div>
    <div class="container text-center text-md-left mt-5">
      <div class="row mt-3">
        <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
          <h6 class="text-uppercase font-weight-bold text-white">CATERING</h6>
          <hr class="primary-color accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
          <p class="text-white"> Découvrez notre gamme de produits, elle convient à tout type d’événement : mariage, cocktail dînatoire, anniversaire, lancement corporatif ou repas d’affaires.
            elit.
          </p>
        </div>
        <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
          <h6 class="text-uppercase font-weight-bold text-white">MENUS</h6>
          <hr class="primary-color accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
          <p>
            <a href="#!" class="text-white">Buffet froid</a>
          </p>
          <p>
            <a href="#!" class="text-white">Buffet chaud</a>
          </p>
          <p>
            <a href="#!" class="text-white">Hors d’œuvre</a>
          </p>
          <p>
            <a href="#!" class="text-white">Pâtisserie</a>
          </p>
          <p>
            <a href="#!" class="text-white">Petit déjeuner</a>
          </p>
        </div>
        <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
          <h6 class="text-uppercase font-weight-bold text-white">ÉVÉNEMENTS</h6>
          <hr class="primary-color accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
          <p>
            <a href="#!" class="text-white">Anniversaire</a>
          </p>
          <p>
            <a href="#!" class="text-white">Colloques et congrès</a>
          </p>
          <p>
            <a href="#!" class="text-white">Cocktail</a>
          </p>
          <p>
            <a href="#!" class="text-white">Funérailles</a>
          </p>
          <p>
            <a href="#!" class="text-white">Mariage</a>
          </p>
        </div>
        <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
          <h6 class="text-uppercase font-weight-bold text-white">Contact</h6>
          <hr class="primary-color accent-2 mb-4 mt-0 d-inline-block mx-auto " style="width: 60px;">
          <p>
            <a class="text-white">08998877665</a>
          </p>
          <p>
            <a class="text-white">catering243@gmail.com</a>
          </p>
        </div>
      </div>
    </div>
    <div class="footer-copyright text-center py-3 text-white">© 2020 Copyright :
      <a class="text-white"> CATERING</a>
    </div>
  </footer>
</div>






