

<div class="container-fluid">
  <!-- Jumbotron -->
  <div class="card card-image" style="background-image: url('assets/images/t.jpg');">
    <div class="text-white text-center rgba-stylish-strong py-5 px-4">
      <div class="py-5">

        <!-- Content -->
        <h5 class="h5 text-primary"><i class="fas fa-camera-retro"></i> ÉVÉNEMENTS</h5>
        <h2 class="card-title h2 my-4 py-2">DES ÉVÉNEMENTS
          QUI SORTENT DE L’ORDINAIRE</h2>
        <p class="mb-4 pb-2 px-md-5 mx-md-5">Chaque occasion est unique. L’équipe du Catering, chapeautée par le chef Fournier, travaille sans relâche pour que votre événement soit exclusif. Vous planifiez un anniversaire, un mariage, un colloque ou un cocktail? Qu’avez-vous en tête? Nous combinerons nos idées et vos désirs afin de concocter un événement extraordinaire.</p>
        <a class="btn btn-primary"><i class="fas fa-clone left"></i> CONTACTEZ-NOUS</a>

      </div>
    </div>
  </div>
  <!-- Jumbotron -->
</div>



      <!-- Grid column -->
      <div class="col-lg-3 col-md-6 mb-lg-0 mb-4">
        <!-- Collection card -->
        <div class="card collection-card z-depth-1-half">
          <!-- Card image -->
          <div class="view zoom">
            <img src="https://mdbootstrap.com/img/Photos/Horizontal/E-commerce/Vertical/8.jpg" class="img-fluid"
                 alt="">
            <div class="stripe light">
              <a>
                <p>Sweatshirt
                  <i class="fas fa-angle-right"></i>
                </p>
              </a>
            </div>
          </div>
          <!-- Card image -->
        </div>
        <!-- Collection card -->
      </div>
      <!-- Grid column -->

      <!-- Grid column -->
      <div class="col-lg-3 col-md-6 mb-md-0 mb-4">
        <!-- Collection card -->
        <div class="card collection-card z-depth-1-half">
          <!-- Card image -->
          <div class="view zoom">
            <img src="https://mdbootstrap.com/img/Photos/Horizontal/E-commerce/Vertical/9.jpg" class="img-fluid"
                 alt="">
            <div class="stripe dark">
              <a>
                <p>Accessories
                  <i class="fas fa-angle-right"></i>
                </p>
              </a>
            </div>
          </div>
          <!-- Card image -->
        </div>
        <!-- Collection card -->
      </div>
      <!-- Grid column -->

      <!-- Fourth column -->
      <div class="col-lg-3 col-md-6">
        <!-- Collection card -->
        <div class="card collection-card z-depth-1-half">
          <!-- Card image -->
          <div class="view zoom">
            <img src="https://mdbootstrap.com/img/Photos/Horizontal/E-commerce/Vertical/7.jpg" class="img-fluid"
                 alt="">
            <div class="stripe light">
              <a>
                <p>Sweatshirt
                  <i class="fas fa-angle-right"></i>
                </p>
              </a>
            </div>
          </div>
          <!-- Card image -->
        </div>
        <!-- Collection card -->
      </div>
      <!-- Fourth column -->

    </div>
    <!-- Grid row -->

  </section>
</div>

